---
import Logo  from "../assets/images/logo.png";
import Instagram  from "../assets/icons/instagram.svg";
import Facebook  from "../assets/icons/facebook.svg";
import {Image} from 'astro:assets'

const footerData = [
  {
    title: "Important Links",
    items: [
        {name:"Terms & Conditions",url:"/terms"},
        {name:"Privacy Policy",url:"/privacy"},
        {name:"Cookies Terms",url:"/cookies"},
    ],
  }
];
---
<footer>
  <div class="pt-10 lg:pt-20 lg:pb-12 bg-customDarkBg1 radius-for-skewed ">
    <div class="container mx-auto px-4 w-4/5 md:w-11/12 lg:w-10/12 xl:w-4/5 2xl:w-2/3">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/3 mb-16 lg:mb-0">
          <div class="flex justify-center lg:justify-start items-center grow basis-0">
            <div class="customPrimary mr-2 text-6xl">
              <Image src={Logo} alt="logo" >
            </div>
          </div>
          <p class="mb-10 mt-4 sm:w-[22rem] lg:w-[20rem] xl:w-[24rem] text-gray-400 leading-loose text-center lg:text-left mx-auto lg:mx-0">
          </p>
          
        </div>
        <div class="w-full lg:w-2/4  lg:pl-16 hidden lg:flex flex-wrap justify-between">
          
          <div class="w-full md:w-1/3 lg:w-auto mb-16 md:mb-0">
            <h3 class="mb-6 text-customSecondary text-2xl font-bold customPrimary">
              LINKS
            </h3>
            <ul>
              {footerData[0].items.map((item, i) => (
                <li class="mb-4">
                  <a
                    class="text-customDarkBg2 hover:text-gray-300"
                    href={item.url}
                    aria-label=""
                  >
                    {item.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
          <div class="w-full md:w-1/3 lg:w-auto">
            <h3 class="mb-6 text-2xl font-bold text-customSecondary">Social</h3>
            <ul>
                <li class="mb-4">
                  <a
                    href="https://www.facebook.com/LasGordasBurgers/"
                    aria-label="facebook"
                    target="_blank"
                  >
                    <Image  src={Facebook} width={40} alt="instagram" >
                  </a>
                </li>
                <li class="mb-4">
                  <a
                    href="https://www.instagram.com/lasgordasburgers/"
                    aria-label="instagram"
                    target="_blank"
                  >
                  <Image  src={Instagram} width={40} alt="facebook" >
                </a>
            </li>
            </ul>
          </div>
        </div>
      </div>
      <p class="lg:text-center text-sm text-customDarkBg2 border-t border-[rgb(255,255,255,0.2)] pt-12 mt-16 hidden lg:block">
        &copy; 2023 Gordas Burgers
      </p>
    </div>
  </div>
</footer>
